.form-group{
    margin-bottom: 20px;
}

.error{
    color: red;
}


.MuiPaper-elevation2{
    box-shadow: none !important;
}

.MuiTableCell-body{
    font-size: 13px !important
}

.MuiTableHead-root{
    font-size: 16px !important;
}

.MuiTypography-h6{
    font-size: 16px !important;
    color: red;
}

.MuiCheckbox-colorSecondary.Mui-checked {
    color: #000731 !important;
}