.accountUpdate {
    margin-bottom: 40px !important;
}

.partnerAccDiv {
    padding: 15px;
}


.frame-square {
    position: relative;
    width: 200px;
    height: 200px;
    border: ​none;
    background: rgb(255, 255, 255);
    margin: auto;
}

.frame-square img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* image fills the grid item */
    position: absolute;
    /* position absolutely */
    top: 0;
    left: 0;
}

@media only screen and (max-width: 1000px) {
    .frame-square {
        margin: 0;
    }
  }