.gallery-wrap .img-big-wrap {
    height: 100% !important;
}

.sliderimg {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover
}

.listingDetails {
    height: 500px !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.listingContent {
    padding: 50px;

}

.btn {
    margin-right: 10px;
}

.asideFrame {
    position: relative;
    width: 90px;
    height: 90px;
    border: ​none;
    background: rgb(255, 255, 255);
    margin: auto;
}

.asideFrame img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* image fills the grid item */
    position: absolute;
    /* position absolutely */
    top: 0;
    left: 0;
}