.btnDropDown:focus{
    background-color: aqua !important;
}


.btn-group {  
    white-space: nowrap !important;              
}
.btn-group .btn {  
    float: none !important;
    display: inline-block !important;
}

/* .show {
    width: calc(var(--nav-width) + px) !important;
} */
