.customerMainContainerSubTitle{
    font-size: 12px;
}

.customerMainContainerTitle{
    font-size: 16px;
    line-height: 1 !important;
}

.chevDown{
    font-size: 16;
    color: #000731;
}

.chevDown:hover{
    text-decoration: none;
    color: #000c52;
}


.chevDownSmall{
    font-size: 13 !important;
    color: #000731 !important;
    line-height: 30px;
    padding: 5px;
}

.chevDownSmall:hover{
    text-decoration: none !important;
    color: #0019aa !important;
    cursor:pointer !important;
}

.chevDownSmall.activeChev{
    color: #0019aa !important;
    background-color: #0015ff05;
    padding: 5px;
    border-radius: 10px;
}